<h1 style="margin-top:58px">Init page</h1>

<div style="font-size: 10px; background: #eee; padding: 10px; border-radius: 10px; margin-bottom: 10px">
  <code>
  expo_push_token=<%= params[:expo_push_token] %>
  <br/>
  auth_token=<%= params[:auth_token] %>
  <br/>
  url=<%= params[:url] %>
  </code>
</div>

<% if current_user %> 
  <% if params[:auth_token].to_s.length < 20 # TODO: sometimes `undefined` string is returned by react native %>
    <script>
      window.ReactNativeWebView?.postMessage(JSON.stringify({ type: 'setAuthToken', token: "<%= current_user.auth_token %>" });
    </script>
  <% end %>
<% end %>


<ul>
  <% unless params[:expo_push_token].present? %>
    <li>
      <a class="btn" href="#" onclick="window.ReactNativeWebView?.postMessage(JSON.stringify({ type: 'askForPushNotificationPermission' })); return false;">Turn on push notifications</a>
    </li>
  <% end %>

  <% if current_user %>
    <li>
      <!-- <a class="btn" href="#" onclick="window.ReactNativeWebView?.postMessage(JSON.stringify({ type: 'askForPushNotificationPermission' })); return false;">Turn on push notifications</a> -->
      <%= button_to "Sign Out", destroy_user_session_path(is_phone_app: true), method: :delete, class: 'btn' %>
    </li>
  <% else %>
    <li>
      <!-- <a class="btn" href="#" onclick="window.ReactNativeWebView?.postMessage(JSON.stringify({ type: 'askForPushNotificationPermission' })); return false;">Turn on push notifications</a> -->
      <%= link_to "Sign In", new_user_session_path, class: 'btn' %>
    </li>

    <li>
      <!-- <a class="btn" href="#" onclick="window.ReactNativeWebView?.postMessage(JSON.stringify({ type: 'askForPushNotificationPermission' })); return false;">Turn on push notifications</a> -->
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn' %>
    </li>
  <% end %>
  

<!--   <li>
    <a href="#" onclick="window.ReactNativeWebView?.postMessage(JSON.stringify({ type: 'setAuthToken', token: 'xyz' + Math.floor(Math.random() * 1000)})); return false;">Set auth token</a>
  </li> -->

<!--   <li>
    <a href="#" onclick="window.ReactNativeWebView?.postMessage(JSON.stringify({ type: 'setAuthToken', token: ''})); return false;">Clear auth token</a>
  </li> -->

<!--   <li>
    <a href="#" onclick="window.ReactNativeWebView?.postMessage(JSON.stringify({ type: 'alert', message: 'Hello world'})); return false;">Send alert via React Native</a>
  </li> -->

  <% if params[:expo_push_token].present? %>
    <li>
      <%= button_to "Send notification from backend", phone_app_send_notification_path, method: :post, class: 'btn' %>
    </li>
  <% end %>

  <li>
    <a href="#" class="btn" onclick="document.location.reload(); return false">Reload</a>
  </li>
</ul>

