<h1 style="margin-top:58px">Init page</h1>

<div style="font-size: 10px; background: #eee; padding: 10px; border-radius: 10px; margin-bottom: 10px">
  <code>
  expo_push_token=<%= params[:expo_push_token] %>
  <br/>
  auth_token=<%= params[:auth_token] %>
  <br/>
  url=<%= params[:url] %>
  </code>
</div>

<% if current_user %> 
  
  <h3>Hello, <%= current_user.email %> </h3>

  <% if params[:auth_token] != current_user.auth_token # TODO: sometimes `undefined` string is returned by react native %>
    <script>
      window.ReactNativeWebView?.postMessage(JSON.stringify({ type: 'setAuthToken', token: "<%= current_user.auth_token %>" }));
    </script>
  <% end %>
<% end %>


<ul>
  <% if params[:expo_push_token].to_s.length < 20 && current_user&.expo_push_token.blank? %>
    <li>
      <a class="btn" href="#" onclick="window.ReactNativeWebView?.postMessage(JSON.stringify({ type: 'askForPushNotificationPermission' })); return false;">Turn on push notifications</a>
    </li>
  <% end %>

  <% if current_user %>
    <li>
      <%= button_to "Sign Out", destroy_user_session_path(is_phone_app: true), method: :delete, class: 'btn' %>
    </li>
  <% else %>
    <li>
      <%= link_to "Sign In", new_user_session_path, class: 'btn' %>
    </li>

    <li>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn' %>
    </li>
  <% end %>

  <% if current_user&.expo_push_token %>
    <li>
      <%= button_to "Send notification from backend", phone_app_send_notification_path, method: :post, class: 'btn' %>
    </li>
  <% end %>

  <li>
    <a href="#" class="btn" onclick="document.location.reload(); return false">Reload</a>
  </li>
</ul>

