<!DOCTYPE html>
<html>
  <head>
    <title>ExpoPush</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      body { font-size: 24px; font-family: Verdana}
      input, select, button { font-size: 100%; }

      .btn {
        text-align: center;
        background-color: blue;
        color: white;
        font-weight: bold;
        padding: 4px;
        border-radius: 5px;
        display: block;
        margin: 0;
        border: none;
        margin-bottom: 3px;
        text-decoration: none;
        font-size: 100%;
      }

      input[type="text"], input[type="password"] {
        width: 90%;
      }

      button.btn {
        width: 100%;
      }

      ul, ul li {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      ul li {
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
